{% extends "base.html" %}
        {% block content %}
        <h1>Muistilista</h1>
        

        <!-- Kaikki lomakkeen elementit form-tagin sisään -->
        <form>
            <!-- Tekstikenttä käyttäjätunnukselle -->
            <div class="form-group">
                <label>Käyttäjätunnus</label>
                <input class="form-control" type="text">
            </div>

            <!-- Salasanakenttä salasanalle -->
            <div class="form-group">
                <label>Salasana</label>
                <input class="form-control" type="password">
            </div>

            
            <a href="http://airosmaa.users.cs.helsinki.fi/muistilista/muistilista" class="btn btn-success" role="button">Kirjaudu</a>
            <a href="http://airosmaa.users.cs.helsinki.fi/muistilista/rekisteroidy" class="btn btn-info" role="button">Rekisteröidy</a>
            <i> Uusi käyttäjä? Rekisteröidy muistilistan käyttäjäksi!</i>
          
            
            
        </form>
        {% endblock %}