
        {% extends "base.html" %}
        {% block content %}
        <h2>Tehtävä</h2>
        <!-- Painikkeet tähän -->
        

        <!-- Tiedot tulee listana tähän -->
        <p>
            <button class="btn btn-danger">Poista</button> 
            <a href="http://airosmaa.users.cs.helsinki.fi/muistilista/muokkaa" class="btn btn-primary" role="button">Muokkaa</a>
        </p>
        
        <ul>
            <li><strong>Prioriteetti:</strong>1</li>
            <li><strong>Status:</strong> <label class="label label-danger">kesken</label></li>
            
            <li><strong>Luokka:</strong></li>
            
        </ul>
        <!-- Kuvaus tulee tähän -->
        <p>
            
        </p>
        
        {% endblock %}
    
