
 {% extends "base.html" %}
        {% block content %}
        <h2>Luokka</h2>
        <!-- Painikkeet tähän -->
        

        <!-- Tiedot tulee listana tähän -->
        <p>
            <button class="btn btn-danger">Poista</button> 
            <button class="btn btn-danger">Muokkaa</button>
        </p>
        
        <ul>
            <li><strong>Luokka:</strong> Kotityöt</li>
      
            
        </ul>
        
        <p>
            Sähkölasku, vuokra
        </p>
        
        {% endblock %}
    
