
 {% extends "base.html" %}
        {% block content %}
        <h2>Luokka</h2>
        <!-- Painikkeet tähän -->
        

        <!-- Tiedot tulee listana tähän -->
        <p>
            <button class="btn btn-danger">Poista</button> 
            <a href="http://airosmaa.users.cs.helsinki.fi/muistilista/muokkaaluokkaa" class="btn btn-primary" role="button">Muokkaa</a>
        </p>
        
        <ul>
            <li><strong>Luokka:</strong></li>
      
            
        </ul>
        
        <p>
            
        </p>
        
        {% endblock %}
    
