{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}
<!--
listaa käyttäjän tehtävät
-->
<p>
    {{message}}
</p>
<h1>Käyttäjän {{user_logged_in.nimi}} tehtävät</h1> 
{% endif %}

<p>
    <a href="http://airosmaa.users.cs.helsinki.fi/muistilista/new" class="btn btn-success" role="button">Lisää tehtävä</a>
    <a href="http://airosmaa.users.cs.helsinki.fi/muistilista/uusiluokka" class="btn btn-primary" role="button">Lisää luokka</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tehtävä</th>
            <th>Prioriteetti</th>
            <th>Status</th>                    
            <th>Luokka</th>                    
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tehtavaLuokkineen in tehtavatJaLuokat %}
        <tr>                 
            <th><a class="btn btn-default btn-sm" href="http://airosmaa.users.cs.helsinki.fi/muistilista/tehtava/{{tehtavaLuokkineen.tehtava.id}}">{{tehtavaLuokkineen.tehtava.nimi}}</a></th>
            <!--<td>{{tehtava.prioriteetti}}</td>-->
            <td>
                {% if tehtavaLuokkineen.tehtava.prioriteetti==2 %}
                Korkea
                {% elseif tehtavaLuokkineen.tehtava.prioriteetti==1 %}
                Normaali
                {% elseif tehtavaLuokkineen.tehtava.prioriteetti==0 %}
                Matala
                {% endif %}
            </td>
            <td>
                {% if tehtavaLuokkineen.tehtava.status=="Kesken" %}
                <label class="label label-danger">{{tehtavaLuokkineen.tehtava.status}}</label>
                {% elseif tehtavaLuokkineen.tehtava.status=="Tehty" %}
                <label class="label label-success">{{tehtavaLuokkineen.tehtava.status}}</label>
                {% elseif tehtavaLuokkineen.tehtava.status=="kesken" %}
                <label class="label label-danger">Kesken</label>
                {% endif %}
            </td>  
            <th>{% for luokka in tehtavaLuokkineen.luokat %}<a class="btn btn-default btn-sm" href="http://airosmaa.users.cs.helsinki.fi/muistilista/luokka/{{luokka.id}}">{{luokka.nimi}}</a>{% endfor %}</th>          
            <th><a class="btn btn-default btn-sm" href="http://airosmaa.users.cs.helsinki.fi/muistilista/tehtava/{{tehtavaLuokkineen.tehtava.id}}/edit">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}