 {% extends "base.html" %}
        {% block content %}
        {% if user_logged_in %}
        <h1>Käyttäjän {{user_logged_in.nimi}} tehtävät</h1> 
        {% endif %}
        <p>
        <a href="http://airosmaa.users.cs.helsinki.fi/muistilista/new" class="btn btn-success" role="button">Lisää tehtävä</a>
        <a href="http://airosmaa.users.cs.helsinki.fi/muistilista/uusiluokka" class="btn btn-primary" role="button">Lisää luokka</a>
        </p>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Tehtävä</th>
                    <th>Prioriteetti</th>
                    <th>Status</th>                    
                    <th>Luokka</th>                    
                    <th></th>
                </tr>
            </thead>

            <tbody>
              {% for tehtava in tehtavat %}  
                <tr>
                    <td><a href="http://airosmaa.users.cs.helsinki.fi/muistilista/tehtava"></a>{{tehtava.nimi}}</td>
                    <td>1</td>
                    <td><label class="label label-danger">kesken</label></td>   

                    
                    
                    <td><a href="http://airosmaa.users.cs.helsinki.fi/muistilista/luokankuvaus"></a>Luokka</td>
                    
                    <th><a class="btn btn-default btn-sm" href="http://airosmaa.users.cs.helsinki.fi/muistilista/tehtava/{{tehtava.id}}/edit">Muokkaa</a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
   
