{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}
<!--
listaa käyttäjän tehtävät
-->
<p>
    {{message}}
</p>
<h1>Käyttäjän {{user_logged_in.nimi}} tehtävät</h1> 
{% endif %}

<p>
    <a href="http://airosmaa.users.cs.helsinki.fi/muistilista/new" class="btn btn-success" role="button">Lisää tehtävä</a>
    <a href="http://airosmaa.users.cs.helsinki.fi/muistilista/uusiluokka" class="btn btn-primary" role="button">Lisää luokka</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tehtävä</th>
            <th>Prioriteetti</th>
            <th>Status</th>                    
            <th>Luokka</th>                    
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tehtava in tehtavat %}
        <tr>                 
            <th><a class="btn btn-default btn-sm" href="http://airosmaa.users.cs.helsinki.fi/muistilista/tehtava/{{tehtava.id}}">{{tehtava.nimi}}</a></th>                   
            <td>{{tehtava.prioriteetti}}</td>
            <td><label class="label label-danger">{{tehtava.status}}</label></td>  
            <th>{% for luokka in luokat %}<a class="btn btn-default btn-sm" href="http://airosmaa.users.cs.helsinki.fi/muistilista/luokka/{{luokka.id}}">{{luokka.nimi}}</a>{% endfor %}</th>          
            <th><a class="btn btn-default btn-sm" href="http://airosmaa.users.cs.helsinki.fi/muistilista/tehtava/{{tehtava.id}}/edit">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>



<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Prioriteetti</th>
            <th>Status</th>
            <th>Luokka</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tehtava in tehtavat %}
        {% if tehtavat %}
    <div class="panel-heading">
        {% if tehtavat|first.prioriteetti == 'Matala' %}      
        <div class="panel panel-success panel-transparent">  
            <h3 class="panel-title">Matala prioriteetti</h3>
            {% elseif tehtavat|first.prioriteetti == 'Keski' %}  
            <div class="panel panel-warning panel-transparent">
                <h3 class="panel-title">Keskimmäinen prioriteetti</h3>
                {% elseif tehtavat|first.prioriteetti == 'Korkea' %}
                <div class="panel panel-danger panel-transparent">
                    <h3 class="panel-title">Korkea prioriteetti</h3>
                    {% endif %}
                </div>
                {% endif %}
                <tr>
                    <th><a class="btn btn-default btn-sm" href="http://airosmaa.users.cs.helsinki.fi/muistilista/tehtava/{{tehtava.id}}">{{tehtava.nimi}}</a></th>
                    <td>{{tehtava.prioriteetti}}</td>
                    <td><label class="label label-danger">{{tehtava.status}}</label></td>  
                    <th>{% for luokka in luokat %}<a class="btn btn-default btn-sm" href="http://airosmaa.users.cs.helsinki.fi/muistilista/luokka/{{luokka.id}}">{{luokka.nimi}}</a>{% endfor %}</th>
                    <th><a class="btn btn-default btn-sm" href="http://airosmaa.users.cs.helsinki.fi/muistilista/tehtava/{{tehtava.id}}/edit">Muokkaa</a></th>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                {% if empty %}
                <h4>Ei tulevia tehtäviä!</h4>
                {% endif %}

                {% endblock %}

