{% extends "base.html" %}
        {% block content %}
        <h1>Muistilista</h1>               
        <form method="post" action="{{base_path}}/kirjaudu">         
            <div class="form-group">
                <label>Käyttäjätunnus</label>
                <input class="form-control" name="kayttajatunnus" value="{{kayttajatunnus}}" type="text">
            </div>     
            
            <div class="form-group">
                <label>Salasana</label>
                <input class="form-control" name="salasana" type="salasana">
            </div>        
            <button type="submit" class="btn btn-success">Kirjaudu</button>
            <a href="http://airosmaa.users.cs.helsinki.fi/muistilista/rekisteroidy" class="btn btn-primary" role="button">Rekisteröidy</a>
            <i> Uusi käyttäjä? Rekisteröidy muistilistan käyttäjäksi!</i>                                 
        </form>
        {% endblock %}