{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
 <h2>{{luokka.nimi}}</h2>
{{message}}
<!-- Painikkeet tähän -->


<!-- Tiedot tulee listana tähän -->




{{forms.destroy_button("#{base_path}/tehtava/#{tehtava.id}/destroy")}}

<a href="http://airosmaa.users.cs.helsinki.fi/muistilista/muokkaaluokkaa" class="btn btn-primary" role="button">Muokkaa</a>

<ul>
    <li><strong>Nimi:</strong>{{luokka.nimi}}</li>
    <li><strong>Kuvaus:</strong>{{luokka.kuvaus}}</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>

</p>

{% endblock %}
