{% extends "base.html" %}

{% block content %}

<h1>Lisää tehtävä</h1>

<form method="post" action="{{base_path}}/tehtava">
    <div class="form-group">
        <label>Nimi</label>
        <input name="nimi" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Prioriteetti</label>
        <select name="prioriteetti">
            <option value="Erittäin tärkeä">Erittäin tärkeä</option>
            <option value="Tärkeä">Tärkeä</option>
            <option value="Ei niin tärkeä">Ei niin tärkeä</option>
            
        </select>
        
    </div>

    <div class="form-group">
        <label>Luokka</label>
        <select name="luokka_id">
            <option value="1">Kotityöt</option>
            <option value="2">Opiskelu</option>
            <option value="3">Työt</option>            
        </select>
    </div>
    
    <div class="form-group">
        <label>Status</label>
        <select name="status">
            <option value="kesken">Kesken</option>
            <option value="Tehty">Tehty</option>                   
        </select>
    </div>

    <div class="form-group">
        <label>Kuvaus</label>/new
        <textarea name="kuvaus" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}
