{% extends "base.html" %}

{% block content %}

<h1>Lisää tehtävä listaasi</h1>

<form method="post" action="{{base_path}}/tehtava">
    <div class="form-group">
        <label>Nimi</label>
        <input name="nimi" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Prioriteetti</label>
        <select name="prioriteetti">
            <option value="Erittäin tärkeä">Erittäin tärkeä</option>
            <option value="Tärkeä">Tärkeä</option>
            <option value="Ei niin tärkeä">Ei niin tärkeä</option>
            
        </select>
        <input type="submit">
    </div>

    <div class="form-group">
        <label>Luokka</label>
        <select name="luokat">
            <option value="Kotityöt">Kotityöt</option>
            <option value="Opiskelu">Opiskelu</option>
            <option value="Työt">Työt</option>            
        </select>
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <textarea name="kuvaus" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}
