{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<!--
tehtävän esittelysivu
-->
<h2>{{tehtava.nimi}}</h2>
{{message}}

<ul>
    <li><strong>Prioriteetti:</strong>{{tehtava.prioriteetti}}</li>
    <li><strong>Status:</strong>{{tehtava.status}}</li>
    <li><strong>Luokka:</strong>{{tehtava.luokka_id}}</li>
</ul>
<p>
</p>
<p>
<form method="post" action="{{base_path}}/tehtava/{{tehtava.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa tehtävän?">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
</p>
<a href="http://airosmaa.users.cs.helsinki.fi/muistilista/tehtava/{{tehtava.id}}/edit" class="btn btn-primary" role="button">Muokkaa</a>

{% endblock %}


